# available databases: SQLite, libSQL, D1
DATABASE_PLATFORM="libSQL"

DATABASE_URL=""

# Social Providers
# GITHUB_CLIENT_ID=""
# GITHUB_CLIENT_SECRET=""
# GOOGLE_CLIENT_ID=""
# GOOGLE_CLIENT_SECRET=""

# Resend API Key
RESEND_API_KEY=""

# Auth Secret
AUTH_SECRET="your-secret-here"
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:4000"


# TikHub API 
TIKHUB_API_BASE_URL="https://api.tikhub.com"
TIKHUB_API_KEY="<your-tikhub-api-key>"


S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
S3_REGION=""
S3_BUCKET=""

CDN_BASE_URL=""

# Upstash Workflow
QSTASH_URL="https://qstash.upstash.io"
QSTASH_TOKEN="<upstash-token>"
# Local development tunnel URL (e.g. ngrok / cloudflared tunnel)
# UPSTASH_WORKFLOW_URL="https://xxxxxx.ngrok-free.app"

